kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: crash-informer
  namespace: default
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log", "replicationcontrollers"]
  verbs: ["get", "watch", "list"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: crash-informer
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: crash-informer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crash-informer
subjects:
  - kind: ServiceAccount
    name: crash-informer
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mattermost-informerr
  namespace: default
spec:
  selector:
    matchLabels:
      app: mattermost-informerr
  template:
    metadata:
      labels:
        app: mattermost-informerr
    spec:
      restartPolicy: Always
      serviceAccountName: crash-informer
      containers:
      - name: informer
        image: docker.pkg.github.com/lnsp/k8s-crash-informer/informer:latest
        imagePullPolicy: Always
        env:
          - name: MATTERMOST_CHANNEL
            valueFrom:
              configMapKeyRef:
                name: mattermost-informer-cfg
                key: channel
          - name: MATTERMOST_TOKEN
            valueFrom:
              configMapKeyRef:
                name: mattermost-informer-cfg
                key: token
          - name: MATTERMOST_TEAM
            valueFrom:
              configMapKeyRef:
                name: mattermost-informer-cfg
                key: team
          - name: MATTERMOST_URL
            valueFrom:
              configMapKeyRef:
                name: mattermost-informer-cfg
                key: url
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
